@font-face {
  font-family: "Oswald ExtraLight";
  src: url("./fonts/Oswald-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald Light";
  src: url("./fonts/Oswald-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald Regular";
  src: url("./fonts/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald Medium";
  src: url("./fonts/Oswald-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald SemiBold";
  src: url("./fonts/Oswald-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald Bold";
  src: url("./fonts/Oswald-Bold.ttf") format("truetype");
}
body {
  color: #e6e6e6;
  margin: 0;
  padding: 0;
  transition: all 250ms ease;
}

#root {
  height: 100%;
}

.App {
  padding: 10px;
  background: url("./images/default-bg-2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  transition: all 250ms ease;
}

.App::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.title-section {
  height: 85vh;
}

.title {
  font-family: Oswald Light;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-size: 6em;
  margin-top: 15%;
  padding: 15px;
  line-height: 1.25em;
  background: linear-gradient(to bottom, rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.05));
  border-radius: 15px;
}

.App-clear {
  background: url("./images/clear-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-clear-night {
  background: url("./images/clear-night-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-snow {
  background: url("./images/snow-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-drizzle {
  background: url("./images/drizzle-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-cloudy {
  background: url("./images/cloudy-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-cloudy-night {
  background: url("./images/cloudy-night-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-fog {
  background: url("./images/fog-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-rain {
  background: url("./images/rain-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-rain-night {
  background: url("./images/rain-night-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-snow {
  background: url("./images/snow-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-thunderstorm {
  background: url("./images/thunderstorm-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-tornado {
  background: url("./images/tornado-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-haze {
  background: url("./images/haze-bg.jpg");
  background-size: cover;
  background-position: center;
}

main {
  position: relative;
  z-index: 10;
}

.search-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 100;
}
.search-box i {
  font-size: 2.8em;
  margin: 0 10px;
  align-self: flex-end;
  color: rgba(230, 230, 230, 0.75);
}
.search-box .fa-bars {
  position: relative;
  left: 55px;
  top: 5px;
  font-size: 2.5em;
  cursor: pointer;
}

.search-bar {
  border: none;
  padding: 15px;
  background: rgba(25, 25, 25, 0.4);
  font-family: Oswald ExtraLight;
  font-size: 2em;
  color: #e6e6e6;
  transition: all 250ms ease;
  height: 20px;
  border-radius: 5px;
  width: 200px;
}

.search-bar::placeholder {
  color: #e6e6e6;
}

.search-bar:hover {
  background: rgba(50, 50, 50, 0.4);
}

.search-bar:focus {
  border: none;
  color: #e6e6e6;
  background: rgba(50, 50, 50, 0.4);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 250ms ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.portalClass {
  position: relative;
  z-index: 100;
  font-family: Oswald Regular;
  transition: all 250ms ease;
}

.modal-title {
  text-align: center;
  font-size: 4.5em;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-bottom: 0;
}

.social-links-container {
  list-style-type: none;
  padding: 0;
  margin: 25px 0;
  font-size: 2em;
  font-family: Oswald Light;
  margin-bottom: 25px;
}
.social-links-container .social-link {
  border: 1px solid #323232;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  transition: all 250ms ease;
}
.social-links-container .social-link:hover {
  border: 1px solid #e6e6e6;
}

.close-modal {
  font-size: 1.5em;
  cursor: pointer;
  text-align: right;
  transition: all 250ms ease;
  font-family: Oswald ExtraLight;
}

.close-modal:hover {
  color: #e9223c;
}

.location-container {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  padding: 60px 0;
}
.location-container .location-icon {
  font-size: 4.3em;
  margin: 0 10px;
  color: rgba(230, 230, 230, 0.75);
}
.location-container .location-info {
  font-family: Oswald Regular;
  font-size: 2em;
}

.date-container {
  text-align: center;
  font-family: Oswald ExtraLight;
  font-size: 1.25em;
  position: absolute;
  top: 100px;
  left: 350px;
  display: inline-block;
  text-align: right;
}

.container-title {
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Oswald Regular;
  border-bottom: 1px solid #e6e6e6;
}

.temp-container {
  position: relative;
  padding-bottom: 50px;
  background: linear-gradient(to bottom, rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.05));
  border-radius: 5px;
}
.temp-container .icon-current-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 10px;
}
.temp-container .icon-current-container i {
  font-size: 5.5em;
  margin-bottom: 30px;
  padding: 0 10px;
  color: rgba(230, 230, 230, 0.75);
}
.temp-container .icon-current-container .current-temp {
  text-align: center;
  font-family: Oswald Regular;
  font-size: 7em;
  padding: 0;
  margin: 0;
}
.temp-container .high-low-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 2em;
  font-family: Oswald Light;
}
.temp-container .high-low-container .temp-high {
  margin-right: 10px;
}
.temp-container .high-low-container .temp-icon {
  font-size: 5.5em;
  padding-bottom: 16px;
  color: rgba(230, 230, 230, 0.75);
  margin: 0 10px;
}
.temp-container .feels-like {
  text-align: center;
  font-family: Oswald ExtraLight;
  font-size: 1.5em;
}

.conditions-container {
  margin-top: 20px;
  background: rgba(25, 25, 25, 0.5);
  border-radius: 5px;
  font-family: Oswald Regular;
  position: relative;
  padding-bottom: 40px;
}
.conditions-container .conditions-icon {
  text-align: center;
  padding-top: 30px;
  font-size: 3em;
  color: rgba(230, 230, 230, 0.75);
}
.conditions-container .conditions-description {
  text-transform: capitalize;
  text-align: center;
  font-size: 2em;
}
.conditions-container .humidity-visibility-container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-family: Oswald ExtraLight;
}
.conditions-container .humidity-visibility-container div:nth-of-type(2) {
  padding: 0 10px;
}
.conditions-container .hv-wind-divider {
  border-bottom: 1px solid #e6e6e6;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.conditions-container .wind-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
}
.conditions-container .wind-container .wind-icon {
  margin: 0 5px;
  padding-bottom: 3px;
  font-size: 1.25em;
  color: rgba(230, 230, 230, 0.75);
}
.conditions-container .wind-container .wind-title {
  font-size: 1.5em;
  padding-right: 20px;
}
.conditions-container .deg-gust-speed-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-family: Oswald ExtraLight;
}
.conditions-container .deg-gust-speed-container .dgs-divider {
  padding: 0 10px;
}
.conditions-container .pressure {
  text-align: center;
  font-size: 1.5em;
  font-family: Oswald Light;
}

.social-box {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0;
  font-family: Oswald ExtraLight;
  font-size: 1.25em;
}
.social-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.social-box ul li {
  margin: 0 15px;
  cursor: pointer;
  transition: all 250ms ease;
}
.social-box ul li:hover {
  font-size: 1.15em;
}

/*# sourceMappingURL=index.css.map */
